/* Generated classes for django-media-bundler sprites.  Don't edit! */

.aenclave-sprites {
     background-image: url('/audio/images/aenclave-sprites.png');
}

.aenclave-sprites-sorta-png {
     width: 6px;
     background-position: 0px 0px;
     height: 20px;
}

.aenclave-sprites-sortd-png {
     width: 6px;
     background-position: -6px 0px;
     height: 20px;
}

.aenclave-sprites-updown-png {
     width: 18px;
     background-position: -12px 0px;
     height: 17px;
}

.aenclave-sprites-cross-png {
     width: 16px;
     background-position: -30px 0px;
     height: 16px;
}

.aenclave-sprites-heart-gray-png {
     width: 16px;
     background-position: -46px 0px;
     height: 16px;
}

.aenclave-sprites-heart-pink-png {
     width: 16px;
     background-position: -62px 0px;
     height: 16px;
}

.aenclave-sprites-heart-png {
     width: 16px;
     background-position: 0px -20px;
     height: 16px;
}

.aenclave-sprites-maximize-png {
     width: 16px;
     background-position: -16px -20px;
     height: 16px;
}

.aenclave-sprites-minimize-png {
     width: 16px;
     background-position: -32px -20px;
     height: 16px;
}

.aenclave-sprites-tick-png {
     width: 16px;
     background-position: -48px -20px;
     height: 16px;
}

.aenclave-sprites-dl-png {
     width: 14px;
     background-position: -64px -20px;
     height: 14px;
}

.aenclave-sprites-new-png {
     width: 26px;
     background-position: 0px -36px;
     height: 14px;
}

.aenclave-sprites-shuffle-png {
     width: 17px;
     background-position: -26px -36px;
     height: 12px;
}

.aenclave-sprites-skip-png {
     width: 17px;
     background-position: -43px -36px;
     height: 12px;
}

.aenclave-sprites-add-png {
     width: 12px;
     background-position: -60px -36px;
     height: 12px;
}

.aenclave-sprites-cancel-png {
     width: 12px;
     background-position: 0px -50px;
     height: 12px;
}

.aenclave-sprites-create-png {
     width: 12px;
     background-position: -12px -50px;
     height: 12px;
}

.aenclave-sprites-delete-png {
     width: 12px;
     background-position: -24px -50px;
     height: 12px;
}

.aenclave-sprites-edit-png {
     width: 12px;
     background-position: -36px -50px;
     height: 12px;
}

.aenclave-sprites-email-png {
     width: 12px;
     background-position: -48px -50px;
     height: 12px;
}

.aenclave-sprites-history-png {
     width: 12px;
     background-position: -60px -50px;
     height: 12px;
}

.aenclave-sprites-ok-png {
     width: 12px;
     background-position: 0px -62px;
     height: 12px;
}

.aenclave-sprites-pause-png {
     width: 12px;
     background-position: -12px -62px;
     height: 12px;
}

.aenclave-sprites-play-png {
     width: 12px;
     background-position: -24px -62px;
     height: 12px;
}

.aenclave-sprites-remove-png {
     width: 12px;
     background-position: -36px -62px;
     height: 12px;
}

.aenclave-sprites-speaker-png {
     width: 12px;
     background-position: -48px -62px;
     height: 12px;
}

.aenclave-sprites-stop-png {
     width: 12px;
     background-position: -60px -62px;
     height: 12px;
}

.aenclave-sprites-triangleselect-png {
     width: 12px;
     background-position: 0px -74px;
     height: 9px;
}

.aenclave-sprites-selectcol-png {
     width: 10px;
     background-position: -12px -74px;
     height: 9px;
}
