/******************************** SONG TABLE *********************************/

table.data {
    border: 1px #ddd solid;
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
    /*table-layout: fixed;*/
}

table.data th {
    background-color: #aaa;
    border: 1px #ccc solid;
    color: #fefede;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 7px;
    text-align: left;
}

table.data th.sort {
    cursor: pointer;
}

table.data th.sorta {
    background-color: #808080;
    background-image: url(/audio/images/sorta.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    cursor: pointer;
}

table.data th.sortd {
    background-color: #808080;
    background-image: url(/audio/images/sortd.png);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
}

table.data th.edit {
    width: 12px;
}

table.data th.dl {
    width: 12px;
}

table.data th.drag {
    width: 16px;
}

table.data tbody tr.a {}
table.data tbody tr.b { background-color: #f2f2ff; }
/* TODO(rnk): 'c' means currently playing. Use a better name.  */
table.data tbody tr.c { border-bottom: 3px #ccf double; }

table.data tbody td {
    font-size: 14px;  /* sometimes this gets overridden */
    text-align: left;
    padding: 3px 7px 4px;
    border-right: 1px #ddd solid;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;  [> Doesn't work in Gecko.  <]*/
    /*white-space: nowrap;*/
}

table.data tbody td.r { text-align: right; }
table.data tbody td.c { text-align: center; }

table.data tbody td.new a {
    background-image: url(/audio/images/new.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

table.data tbody td.edit {
    cursor: pointer;
    width: 12px;
}

table.data tbody td.drag {
    cursor: move;
    width: 16px;
}

table.data tbody td a {
    color: #000;
    text-decoration: none;
}
table.data tbody td a:hover {
    color: #00f;
    text-decoration: underline;
}
table.data tbody td a:active { color: #f00; }

table.data tbody td a.queue { color: #00c; }
table.data tbody td a.queue:hover { color: #33f; }
table.data tbody td a.queue:active { color: #f00; }

table.data tbody td a.recent { color: #858; }
table.data tbody td a.recent:hover { color: #639; }
table.data tbody td a.recent:active { color: #f00; }

table.data tbody td input.text {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.dl-link {
    color: blue;
    text-decoration: underline;
}

div.fav-heart {
    cursor: pointer;
}

/******************************** COLPICKER **********************************/

table.data th.col-picker {
    margin: 2px;
    padding: 2px;
    border-spacing: 2px;
    width: 13px;
}

th.col-picker div.cmDiv {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    background: none;
    border: 0;
}

th.col-picker ul {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    list-style: none;
    color: black;
    font-size: 11pt;
}

th.col-picker ul li.main {
    padding: 2px;
    background: none;
}

table.data .clickMenu div.inner {
    left: -92px;
    min-width: 120px;
}

th.col-picker ul#col-list li .aenclave-sprites {
    display: inline-block;
    margin: 2px;
}

/* HACK: We can't use a div for this sprite because of the clickmenu plugin, so
 * we style a span as a block-level element. */
span.aenclave-sprites-selectcol-png {
    display: block;
}

/***************************** SONGLIST COLUMNS ******************************/

.triangleselect {
    padding: 0px;
    margin: 0px;
    width: 10px;
}

.select {
    width: 20px;
}

.drag {

}

.track {
    width: 20px;
}

.title {
    
}

.album {
}

.artist {
}

.time {
    width: 35px; 
}

.play-count {
    width: 15px;
}

.skip-count {
    width: 15px;
}

.date-added {
    width: 130px;
}

.last-played {
    width: 130px;
}

.col-picker {
    width: 10px;
}

.c div.aenclave-sprites-speaker-png {
    margin: auto;
}

/******************************** ACTIONS BAR ********************************/

div#actions {
    background-color: #ddd;
    border-top: 1px #aaa solid;
    font-size: 12px;
    padding: 5px 0 0 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 100%;
    height: 30px;
    z-index: 2;
}

div#actions a {
    background-color: #eef;
    border: 1px #cce outset;
    color: #779;
    cursor: pointer;
    font-size: 10pt;
    height: 12px;
    margin: 0px 5px;
    padding: 2px 5px 2px 19px;
    position: relative;
    top: 4px;
    text-decoration: none;
    vertical-align: middle;
}
div#actions a:hover {
    background-color: #edf;
    color: #557;
}
div#actions a:active {
    background-color: #bbf;
    border: 1px #cce inset;
    color: #335;
}

div#actions .aenclave-sprites {
    position: absolute;
    left: 3px;
    top: 3px;
}

div#actionsgap { height: 30px; }

.random-control {
    font-size: 14px;
    vertical-align: top;
}

/****************************** SUB-ACTIONS BAR ******************************/

div#subactions {
    background-color: #ccc;
    border-top: 1px #888 solid;
    font-size: 12px;
    padding: 5px 0 0 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 100%;
    height: 30px;
    z-index: 1;
}

div#subactions a {
    background-color: #eef;
    border: 1px #cce outset;
    color: #779;
    cursor: pointer;
    font-size: 10pt;
    margin: 0px 5px;
    padding: 2px 5px 2px 19px;
    position: relative;
    top: 3px;
    text-decoration: none;
    vertical-align: middle;
}
div#subactions a:hover {
    background-color: #edf;
    color: #557;
}
div#subactions a:active {
    background-color: #bbf;
    border: 1px #cce inset;
    color: #335;
}

div#subactions a .aenclave-sprites {
    position: absolute;
    left: 3px;
    top: 3px;
}

div#subactions input {
    position: relative;
    bottom: 3px;
    vertical-align: middle;
}
div#subactions select {
    position: relative;
    bottom: 3px;
    vertical-align: middle;
}

div#subactions span {
    font-size: 10pt;
    height: 12px;
    margin: 0px 10px 0px 0px;
    padding: 2px 1px;
    position: relative;
    top: 3px;
    vertical-align: middle;
}

/*****************************************************************************/
