body {
    color: #464646;
    font-family: verdana;
    font-size: 14px;
    margin: 0;
}

#container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#header { 
    position: relative;
    padding-top: 20px;
    width: 1000px;
}

#header #navigation{ 
    margin: 14px 0;
}

#navigation img {
    border: 0;
}

#search { 
    position: absolute;
    top: 50px;
    right: 40px;
}

#user {
    position: absolute;
    top: 0;
    right: 40px;
}

#user a {
    color: #464646;
    font-family: "Andale Mono", Monaco, verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

#copyright {
    color: #666;
    font-size: 10px;
    padding-top: 30px;
    text-align: center;
}

