table#browse {
    width: 100%;
    table-layout: fixed;
}

a.browse-kind {
    display: block;
    color: #464646;
    text-decoration: none;
    font-family: Monaco, "Andale Mono", verdana, sans-serif;
    text-align: center;
    font-size: 20pt;
}

div#results-banner {
    background: #ffe953;
    font-family: "Andale Mono", Monaco, verdana, sans-serif;
    font-size: 24px;
}

/**** Video List ****/

table#video-list {
    width: 100%;
}

table#video-list th {
    font-family: Monaco, "Andale Mono", verdana, sans-serif;
    text-align: left;
}

th.length-col {
    width: 8ex;
}

th.size-col {
    width: 10ex;
}

th.rating-col {
    width: 5ex;
}

table#video-list .item-title a {
    display: block;
    color: #464646;
    text-decoration: none;
}

table#video-list,
table.video-sublist {
    border-collapse: collapse;
}

table#video-list .sublist-container {
    padding: 0;
}

table#video-list td {
    padding: 3px;
}

table#video-list .item-icon,
table#video-list .item-arrow {
    width: 20px;
}

table#video-list .item-title {
    /*width: 300px;*/
}

table#video-list .item-length {
    text-align: right;
}

table#video-list .item-size {
    text-align: right;
}

table#video-list .item-rating {
    text-align: right;
}

/**** Panes ****/

#video-list .pane {
    border: 3px solid #CCC;
}

#video-list .pane table {
    font-size: 10px;
    position: relative:
    top: -1;
}

#video-list .pane-spacer div {
    width: 2px;
}

#video-list .pane-plot div{
    height: 100px;
    width: 330px;
    overflow: auto;
}

#video-list .pane th {
    font-size: 14px;
    vertical-align: top;
}

#video-list .pane-more a {
    color: #464646;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

#video-list .pane-more img {
    border: none;
}

#video-list .pane-downloads a {
    font-size: 12px;
    color: #464646;
}

/**** Facets ****/

div#facet-list {
    width: 250px;
}

div.facet-name {
    font-family: Monaco, "Andale Mono", verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

div.facet-options {
    font-size: 12px;
    margin-bottom: 6px;
}

div.facet {
    font-size: 12px;
    padding-bottom: 8px;
}

div.facet-choices {
    max-height: 200px;
    overflow: auto;
}

div.checkbox .facet-choices label {
    vertical-align: 2px;
}

div.searchbar .facet-choices ul {
    padding: 0;
}

div.searchbar .facet-choices li {
    list-style-type: none;
}

div.searchbar .facet-choices li a {
    font-size: 10px;
    color: red;
    padding-left: 5px;
    text-decoration: none;
}

div.slider .slider-div {
    margin-left: 8px;
    width: 80%;
}
