table.home-content {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

table.home-content td {
    vertical-align: top;
}

div#header {
    padding-bottom: 40px;
    text-align: center;
}
