{% extends "venclave/base.html" %}

{% load venclave_tags %}
{% load bundler_tags %}

{% block styles %}
  {{ block.super }}
  {% css "venclave-styles" "jquery-ui-1.7.1.custom.css" %}
  {% css "venclave-styles" "browse.css" %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% javascript "venclave-scripts" "jquery.json-1.3.min.js" %}
  {% javascript "venclave-scripts" "jquery-ui-1.7.1.custom.min.js" %}
  {% javascript "venclave-scripts" "filter.js" %}
  {% javascript "venclave-scripts" "video-list.js" %}
{% endblock scripts %}

{% block browse-image %}
  <img src="{% url venclave-images "browse_green.png" %}" alt="Browse" />
{% endblock browse-image %}


{% block content %}
  <div id="results-banner">
    {{banner_msg|safe}}
  </div>

  <table id="browse">
    <tr>
      <td class="facet-container">
        <div id="facet-list">
          {% for attribute in attributes %}
            {% facet attribute %}
          {% endfor %}
        </div>
      </td>
      <td id="list-container" class="list-container">
        {{ videolist|safe }}
      </td>
    </tr>
  </table>
{% endblock %}
