{% extends "venclave/base.html" %}
{% load venclave_tags %}

{% block styles %}
{{ block.super }}
      <link rel="stylesheet" type="text/css" href="{% url venclave-styles "detail.css" %}"/>
{% endblock %}

{% block content %}

<h2>{{ node.title }}</h2>

<table class="detail">
  <tr>
    <th>
      Year
    </th>
    <td>
      {{ node.metadata.imdb.release_year }}
    </td>
  </tr>
  <tr>
    <th>
      Length
    </th>
    <td>
      {{ node.metadata.imdb.length }} minutes
    </td>
  </tr>
  <tr>
    <th>
      Rating
    </th>
    <td>
      {{ node.metadata.imdb.rating }} out of 5
    </td>
  </tr>
  <tr>
    <th>
      Genres
    </th>
    <td>
      {% for genre in node.metadata.imdb.genres.all %}
        {{ genre.name }}<br />
      {% empty %}
        Genres not available
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>
      Director
    </th>
    <td>
      {% for director in node.metadata.imdb.directors.all %}
        {% reverse_name director.name %}<br />
      {% empty %}
        Directors not available
      {% endfor %}
    </td>
  </tr>
  <tr>
    <th>
      Plot summary
    </th>
    <td>
      {{ node.metadata.imdb.plot_summary }}
    </td>
  </tr>
</table>

{% endblock content %}
