{% load venclave_tags %}

<tr class="pane">
  <td colspan="6">
    <table>
      <tr>
        <th class="pane-plot" rowspan="2">
          plot
        </th>
        <td class="pane-plot" rowspan="2">
          <div>
            {{ node.metadata.imdb.plot_summary|default:"Plot summary not available." }}
          </div>
        </td>
        <td class="pane-spacer" rowspan="4">
          <div></div>
        </td>
        <th class="pane-language">
          language
        </th>
        <td class="pane-language">
          Languages not available
        </td>
      </tr>
      <tr>
        <th class="pane-genre">
          genre
        </th>
        <td class="pane-genre">
          {% for genre in node.metadata.imdb.genres.all %}
            {{ genre.name }}<br />
          {% empty %}
            Genres not available
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th class="pane-director">
          director
        </th>
        <td class="pane-director">
          {% with node.metadata.imdb.directors.all as directors %}
            {% comma_separated directors "Directors not available" %}
          {% endwith %}
        </td>
        <td class="pane-downloads" rowspan="2" colspan="2">
          <table>
            <tr>
              <td>
                <img src="{% url venclave-images "dl_arrow_orange.png" %}" />
              </td>
              <td>
                {% for url, base in node.get_child_urls %}
                  <a href="{{url}}">{{ base|escape }}</a><br/>
                {% endfor %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="pane-starring">
        <th>
          starring
        </th>
        <td class="pane-starring">
          {% with node.metadata.imdb.get_important_actors as actors %}
            {% comma_separated actors "Cast not available" %}
          {% endwith %}
        </td>
      </tr>
      <tr class="pane-more">
        <td colspan="5">
          <a href="{% url venclave-detail node.id %}" target="_blank">
            <img src="{% url venclave-images "orange_arrow.png" %}" />
            more info
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#{{ node.title }}" class="nytimes" target="_blank">
            <img src="{% url venclave-images "orange_arrow.png" %}" />
            <img src="{% url venclave-images "nyt_logo.png" %}" />
            ny times review
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
